#sqlite3==0.0.0
alembic==0.8.7
click==6.6
decorator==4.0.10
Flask==0.11.1
Flask-Migrate==2.0.0
Flask-Script==2.0.5
Flask-SQLAlchemy==2.1
inflect==0.2.5
itsdangerous==0.24
Jinja2==2.8
Mako==1.0.4
MarkupSafe==0.23
praw==3.5.0
python-editor==1.0.1
redis
requests==2.10.0
six==1.10.0
SQLAlchemy==1.0.14
update-checker==0.11
Werkzeug==0.11.10
